---js
{
    "layout": "base.html",
    "permalink": {
        "build": "/mushroom/",
        "mushroom": "/mushroom/",
        "saved": "/mushroom/saved/:bgcolor/:fgcolor/"
    },
    "eleventyComputed": {
        "mushroom": data => {
            if (data.eleventy.serverless) {
                return {
                    "bgColor": (Object.keys(data.eleventy.serverless.path).length > 0) ? data.eleventy.serverless.path.bgcolor : data.eleventy.serverless.query.bgcolor,
                    "fgColor": (Object.keys(data.eleventy.serverless.path).length > 0) ? data.eleventy.serverless.path.fgcolor : data.eleventy.serverless.query.fgcolor,
                    "shape":   (Object.keys(data.eleventy.serverless.path).length > 0) ? data.eleventy.serverless.path.shape : data.eleventy.serverless.query.shape
                }
            }
        },
        "sharePath": data => {
            if (data.eleventy.serverless) {
                return `/mushroom/saved/${data.mushroom.bgColor}/${data.mushroom.fgColor}/${data.mushroom.shape}/`}
            }
        }
}
---

<h1>You created a mushroom with {{ mushroom.fgColor }} spots and {{ mushroom.bgColor }} cap</h1>
<h2>Share this with your friends: <a href="{{ sharePath }}">{{sharePath}}</a></h2>

<style>
    .cap {
        background-color: {{ mushroom.bgColor }};
        border-radius: var(--radius-blob-{{mushroom.shape}})
    }
    .spot {
        background-color: {{ mushroom.fgColor }};
    }
</style>
<div class="app-container">
    {% include "mushroom.html" %}

    {% include "form.njk" %}
</div>